{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LCARS</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'coreapps/css/lcars.css' %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'coreapps/css/superhero.bootstrap.css' %}"/>
    <!--<style>html, body { background: black }</style>-->
    <script type="text/javascript" async="" src="./Bootswatch_ Superhero_files/ga.js.download"></script>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="{% url 'coreapps:index' %}" class="navbar-brand">LENOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Reports<span
                        class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="reports">
                    <a class="dropdown-item" href="#">Default</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Yeti</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="https://bootswatch.com/superhero/?#"
                   id="download">Superhero <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="download">
                    <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/9n4nxnqy/">Open in JSFiddle</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://bootswatch.com/4/superhero/bootstrap.min.css">bootstrap.min.css</a>
                    <a class="dropdown-item" href="./Bootswatch_ Superhero_files/bootstrap.css">bootstrap.css</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="https://bootswatch.com/4/superhero/_variables.scss">_variables.scss</a>
                    <a class="dropdown-item"
                       href="https://bootswatch.com/4/superhero/_bootswatch.scss">_bootswatch.scss</a>
                </div>
            </li>
        </ul>
    </div>
</div>

  <div class="lcars-container">

    <!-- TOP ROW
    =========================================================== -->
    <div class="lcars-row spaced">

      <!-- TOP LEFT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow left bottom lcars-blue-bg">
        {% block top-left-elbow %}<a href="#"></a>{% endblock %}
      </div>

      <!-- TOP DIVIDER AND BUTTONS
      =========================================================== -->
      <div class="lcars-column u-6-8 lcars-divider lcars-blue-tan-divide">
        <div class="lcars-row">
          <div class="lcars-column u-1-2">
            <a href="{% url 'coreapps:index' %}" class="lcars-button radius">
              Core Apps
              <span class="lcars-button-addition">A1</span>
            </a>
          </div>
          <div class="lcars-column u-1-2">
            {% if user.is_authenticated %}
              <small><a href="{% url 'logout' %}"><font color="white">logout</font></a></small>
            {% else %}
              <small><a href="{% url 'login' %}"><font color="white">login</font></a></small>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- TOP RIGHT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow right bottom lcars-tan-bg">
        {% block top-right-elbow %}{% endblock %}
      </div>
    </div>

    <div class="lcars-row">
        https://bootswatch.com/superhero/
      <!-- LEFT MENU
      =========================================================== -->
      <div class="lcars-column u-1-8">
        {% block left %}
          <ul class="lcars-menu">
              <li class="lcars-blue-bg"><a href="{% url 'coreapps:places_home' %}">places</a> </li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:departments_home' %}">departments</a></li>
              <li class="lcars-tan-bg tall"><a href="{% url 'coreapps:companies_home' %}">companies</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:things_home' %}">things</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:kbs_home' %}">kbs</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:notes_home' %}">notes</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:links_home' %}">links</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:groups_home' %}">groups</a></li>
              <li class="lcars-tan-bg"><a href="{% url 'coreapps:person_home' %}">people</a></li>
          </ul>
        {% endblock %}
      </div>

      <!-- CENTER SECTION
      =========================================================== -->
      <div class="lcars-column u-6-8">
        {% block center %}
        <div class="lcars-row">
          {% block center-row %}
          <div class="lcars-column u-1-3">
            {% block center-row-1-2 %}
            {% endblock %}
          </div>
          <div class="lcars-column u-1-2">
            {% block center-row-2-2 %}
            {% endblock %}
          </div>
          {% endblock %}
        </div>
        {% endblock %}
      </div>

      <!-- RIGHT MENU
      =========================================================== -->
      <div class="lcars-column u-1-8">
        {% block right %}
        <ul class="lcars-menu right">
          <li class="lcars-tan-bg"><a href="#"></a></li>
          <li class="lcars-tan-bg tall large-gap"></li>
          <li class="lcars-blue-bg"></li>
          <li class="lcars-blue-bg tall"></li>
          <li class="lcars-blue-bg"></li>
        </ul>
        {% endblock %}
      </div>
    </div>
    <!-- BOTTOM ROW
    =========================================================== -->
    <div class="lcars-row spaced">
      <!-- BOTTOM LEFT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow left top lcars-tan-bg">
        {% block bottom-left-elbow %}
        <a href="#"></a>
        {% endblock %}
      </div>

      <!-- BOTTOM DIVIDER AND BUTTONS
      =========================================================== -->
      <div class="lcars-column u-6-8 lcars-divider bottom lcars-tan-blue-divide">
        <div class="lcars-row">
          {% block bottom %}
          <div class="lcars-column u-1-2">
            <a href="#" class="lcars-button radius"></a>
          </div>
          <div class="lcars-column u-1-2">
            <a href="#" class="lcars-button radius"></a>
          </div>
          {% endblock %}
        </div>
      </div>

      <!-- BOTTOM RIGHT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow right top lcars-blue-bg">
        {% block bottom-right-elbow %}
        <a href="#"></a>
        {% endblock %}
      </div>
    </div>

  </div>

</body>
</html>