{% extends 'coreapps/department.html' %}

{% block center %}
<div class="lcars-row">
    {% block center-row %}
    <div class="lcars-column u-1-2">
        {% block center-row-1-2 %}
        <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
        {% if message %}
        <ul>
            <li><a href="" class="lcars-color white">{{ message }}</a></li>
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>
    <div class="lcars-column u-1-2">
        {% block center-row-2-2 %}
        <a href="#" class="lcars-button radius">Select File to Upload</a>
        <form action="/coreapps/departments_import/" method="post" enctype="multipart/form-data">
            <table>
                {% csrf_token %}
                {{ places_import_form_data }}
            </table>
            <input type="submit" value="Submit"/>
        </form>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
