{% extends 'coreapps/kb.html' %}

{% block center %}
    <div class="lcars-row">
    {% block center-row %}
        <div class="lcars-column u-1-2">
        {% block center-row-1-2 %}
            <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
        </div>
        <div class="lcars-column u-1-2">
        {% block center-row-2-2 %}
            <a href="#" class="lcars-button radius">Details of the kb</a>
            {% if kb %}
                <ul>
                    <li><a href="" class="lcars-white-color">{{ kb.name }}</a></li>
                    <li><a href="" class="lcars-white-color">{{ kb.description }}</a></li>
                    <li><a href="" class="lcars-white-color">{{ kb.Kb_text }}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% endblock %}
