{% extends 'coreapps/base.html' %}

{% block center %}
    <div class="lcars-row">
    {% block center-row %}
        <div class="lcars-column u-1-2">
        {% block center-row-1-2 %}
            <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
            {% if message %}
                <ul>
                    <li><a href="">{{ message }}</a></li>
                    {% for link in all_links %}
                    <li>
                        <form id="myform" method="post" action="{% url 'coreapps:link_form' %}">
                            {% csrf_token %}
                            <input type="hidden" name="task" value="edit">
                            <input type="hidden" name="link_id" value="{{ link.id }}">
                            <a href="#" onclick="myform.submit();return false;" class="lcars-white-color">&Delta;</a>
                            <a href="{{ link.urly }}" target="blank" class="lcars-white-color">{{ link }}</a>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <div class="lcars-column u-1-2">
        {% block center-row-2-2 %}
            <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% endblock %}

{% block right %}
    <ul class="lcars-menu right">
        <li class="lcars-tan-bg"><a href="{% url 'coreapps:link_form' %}">new</a></li>
        <li class="lcars-tan-bg tall large-gap"></li>
        <li class="lcars-blue-bg"></li>
        <li class="lcars-blue-bg tall"></li>
        <li class="lcars-blue-bg"></li>
    </ul>
{% endblock %}
