{% extends 'coreapps/person.html' %}

{% block center %}
<div class="row">
    {% block center-row %}
    <div class="col-6">
        {% if message %} {{ message }} {% endif %}
        <br/><a href="#" class="lcars-button radius">Enter the details of the new person</a>
        <form action="/coreapps/person_form/" method="post" enctype="multipart/form-data">
            <table>
                {% csrf_token %}
                {{ person_form_data }}
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    {% endblock %}
</div>
{% endblock %}
