{% extends 'coreapps/base.html' %}

{% block center %}
    <div class="lcars-row">
    {% block center-row %}
        <div class="lcars-column u-1-2">
        {% block center-row-1-2 %}
            <a href="#" class="lcars-button radius">-</a>
            {% if message %}
                <ul>
                    <li><a href="" class="lcars-white-color">{{ message }}</a></li>
                    {% for place in all_places %}
                        <li><a href="/coreapps/place/{{ place.id }}/detail" class="lcars-white-color">{{ place }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        {% endblock %}
        </div>
        <div class="lcars-column u-1-2">
        {% block center-row-2-2 %}
            <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% endblock %}

{% block right %}
    <ul class="lcars-menu right">
        <li class="lcars-tan-bg"><a href="{% url 'coreapps:places_import' %}">import</a></li>
        <li class="lcars-tan-bg tall large-gap"><a href="{% url 'coreapps:place_form' %}">new</a></li>
        <li class="lcars-blue-bg"></li>
        <li class="lcars-blue-bg tall"></li>
        <li class="lcars-blue-bg"></li>
    </ul>
{% endblock %}