{% extends 'coreapps/base.html' %}

{% block center %}
    <div class="lcars-row">
    {% block center-row %}
        <div class="lcars-column u-1-2">
        {% block center-row-1-2 %}
            <a href="#" class="lcars-button radius">-</a>
            {% if message %}
            {{ message }}<br/><br/>
                    {% for place in all_places %}
                        <form id="myform" method="post" action="{% url 'coreapps:place_form' %}">
                            {% csrf_token %}
                            <input type="hidden" name="task" value="edit">
                            <input type="hidden" name="place_id" value="{{ place.id }}">
                            <input type="submit" name="submit" value="&Delta;" style="
                                 background:none!important;
                                 color:inherit;
                                 border:none;
                                 padding:0!important;
                                 font: inherit;
                                 /*border is optional*/
                                 border-bottom:1px solid #444;
                                 cursor: pointer;"/>
                            <a href="/coreapps/place/{{ place.id }}/detail" target="blank" class="lcars-white-color">
                                {{ place.number }} - {{ place.name }}
                            </a>
                        </form>
                    {% endfor %}
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        {% endblock %}
        </div>
        <div class="lcars-column u-1-2">
        {% block center-row-2-2 %}
            <a href="#" class="lcars-button radius">-</a>
        {% endblock %}
        </div>
    {% endblock %}
    </div>
{% endblock %}

{% block right %}
    <ul class="lcars-menu right">
        <li class="lcars-tan-bg"><a href="{% url 'coreapps:places_import' %}">import</a></li>
        <li class="lcars-tan-bg tall large-gap"><a href="{% url 'coreapps:place_form' %}">new</a></li>
        <li class="lcars-blue-bg"></li>
        <li class="lcars-blue-bg tall"></li>
        <li class="lcars-blue-bg"></li>
    </ul>
{% endblock %}